<p id="notice"><%= notice %></p>

<h1>Dailies</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Instructor</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dailies.each do |daily| %>
      <tr>
        <td><%= daily.location %></td>
        <td><%= daily.instructor %></td>
        <td><%= daily.course %></td>
        <td><%= link_to 'Show', daily %></td>
        <td><%= link_to 'Edit', edit_daily_path(daily) %></td>
        <td><%= link_to 'Destroy', daily, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily', new_daily_path %>
